/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap')


* {
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
body {
    background-color: #bfbfbf;
}
main {
    margin-bottom:50px ;
}
@media only screen and (max-width: 5000px){
    /* header */
    header {
        background-color:  #113263;
        width: 100%;
    }
    #header {
        display: inline;
    }
    header p {
        color: #FF9900;
    }
    #contaicon {
        position: relative;
        right: 0%;
    }
    /* navbar */
    nav {
        background-color:  rgb(17,50,99);
        color: #fff;
        text-decoration: none;
        height: 100px;
        width: 100%;
        text-align: center;
        list-style: none;
        box-sizing: border-box;
        text-transform: uppercase;
    }
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    nav ul li a {
        padding: 5px;
        border-radius: 3px;
        /* margin-left: 290px; */
    }
    a.active,a:hover {
        background-color:  rgb(17,50,99);
        transition: .5s;
    }
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;
    }
        @media (max-width: 416px) {
            .checkbtn {
                display: block;
            }
            ul {
                position: absolute;
                width: 100%;
                height: 40vh;
                background-color:  rgb(17,50,99);
                top: 150px;
                left: -100%;
                text-align: center;
                transition: all .5s;
            }
            nav ul li {
                display: block;
            }
            nav ul li a {
                font-size: 20px;
            }
            a.active,a#navbar:hover {
                background: none;
                color: #e9ec3e;
            }
            #check:checked ~ ul {
                left: 0;
                z-index: 2;
            }
        }
    /* main index */
    .logo-infos {
        text-align: center;
        background:  rgb(17,50,99);
        background: linear-gradient(180deg, rgba(65,152,255,1) 0%, rgba(15,125,255,1) 100%);
        color: black;
        border: 2px solid black;
        border-radius: 5px;
        width: 70vw;
        margin: 10px auto 0;
    }
        @media (min-width: 1000px) {
            .logo-infos {
                width: 800px;
                font-size: 30px;
            }
        }
        @media (max-width: 426px) {
            .logo-infos {
                width: 350px;
                font-size: 30px;
            }
        }
    .logo-infos p, img {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-size: 1em;
        font-style: normal; 
        padding: 7px; 
    }
    @media (max-width: 426px) {
        .logo-infos p, img {
            padding: 10px;
        }
    }
    .logo-infos p {
        background-color: white;
        padding: 9px;
        border-radius: 5px;
        font-weight: 700;
        box-shadow: 5px 5px 10px grey;
    }
        @media (max-width: 459px) {
            .logo-infos p, img {
                padding: 0px;
                font-size: 15px;
            }
        }
    .carrosel {
        background-color: #ACACAC;
        border-radius: 10px;
        border: 1px solid black;
        height: 720px;
        width: 1530px;
        margin: 10px auto;
    }
    #trabalho_content {
        background:  rgb(17,50,99);
        background: linear-gradient(180deg, rgba(0,92,155,1) 0%, rgb(38, 53, 134) 90%, rgba(255,255,255,1) 100%);
        width: 80%;
        margin: 10px auto 0;
    }
    #trabalho_infos h2 {
        background:  rgb(17,50,99);
        background: linear-gradient(180deg, rgba(0,117,171,1) 0%, #005c9b 49%);
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
        color: #fff;
        text-align: center;
        font-size: 40px;
        padding: 10px;
    }
    #trabalho_infos img {
        width: 500px;
    }
        @media (max-width: 555px) {
            #trabalho_infos img {
            width: 300px;
            }
        }
        @media (max-width: 617px) {
            #trabalho_infos img {
            width: 490px;
            }
        }
        @media (max-width: 454px) {
            #trabalho_infos img {
            width: 320px;
            }
        }
        @media (max-width: 400px) {
            #trabalho_infos img {
            width: 300px;
            }
        }
    #quemsomos {
        box-shadow: 0px 0px 10px rgb(85, 85, 85);
    }
    #imgindex {
        margin: 10px auto 0;
    }
    #quemsomos h1 {
        color: #fff;
        font-size: 50px;
        background-color: #000;
        padding: 10px;
        text-shadow: 5px 5px 10px rgb(0, 0, 0);
    }
    #quemsomos p {
        width: 60%;
        color: #000000;
        background: rgb(250,250,250);
        background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgb(255, 255, 255) 100%);
        font-size: 30px;
        text-align: justify;
        line-height: 1.3;
        padding: 10px;
        margin: 10px auto 0;
    }
    @media (max-width: 623px) {
        #quemsomos p {
            font-size: 20px;
        }
    }
    /* main escolhaDeServicos */
    .servicos {
        margin: 10px auto 0;
        width: 322px;
        background:  rgb(17,50,99);
        background: linear-gradient(360deg, rgba(66,141,195,1) 0%, rgba(32,67,93,1) 100%);
        text-align: center; 
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px;
    }
    .servicos p {
        color: #fff;
        padding-top: 20px;
    }
    .servicos hr {
        border-color: #9E9E9E;
        margin: 30px;
    }
    .servicos div img {
        margin: 10px auto;
    }
    /* main conta */
    main div form {
        background-color: #fff;
        border: 2px solid  rgb(17,50,99);
        border-radius: 11px;
        margin: 10px auto;
        width: 90%;
        font-size: 20px;
        text-align: center;
    }
    main div form input[type=text], input[type=email], input[type=password] {
        border: none;
        border-radius: 5px;
        background-color: #D9D9D9;
        box-shadow: 5px 5px 10px grey;
        font-size: 20px;
        padding: 5px;
    }
    main div form hr {
        border: 2px solid #D9D9D9;
        width: 70%;
        margin: 10px auto;
        border-radius: 5px;
    }
    main div div#logo img {
        background:  rgb(17,50,99);
        background: linear-gradient(180deg, rgba(53,85,167,1) 0%, rgba(44,74,150,1) 47%, rgba(91,113,170,1) 100%);
        border-radius: 5px;
        box-shadow: 5px 10px 8px #888888;
        margin: 10px;
    }
    main div form button {
        margin: 5px;
    }
    main div form #confirma {
        background-color: #4FFF56;
        border: 2px solid #46CC4B;
        border-radius: 11px;
        font-size: 16px;
        padding: 15px;
        margin: 15px;
        font-weight: bold;
    }
    main div h1 {
        text-align: center;
    }
    /* login (herda quase todos os elementos de cadastro) */ 
    #senharecovery {
        text-align: center;
        padding-top: 50px;
        margin-bottom: 30px;
        font-weight: 300;
    }
    /* produtos */
    main table {
        margin: 10px auto;
        text-align: center;
    }
    
    /* modelos */
    .modelos1 {
        width: 90%;
        margin: 90px auto 0;
    }
    #fotos {
        width: 288px;
        height: 222px;
        background-color: #D9D9D9;
        text-align: center;
        margin: 10px auto 0;
    }
    #titulomdl {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #modeloinfo {
        width: 50%;
        margin: 10px auto 0;
    }
    #confirma {
        background-color: #4FFF56;
        border: 2px solid #46CC4B;
        border-radius: 11px;
        font-size: 16px;
        padding: 15px 40px;
        margin: 10px 50px;
        font-weight: bold;
    }
    #vazio {
        border: none;
    }
    /* dicas */
    #ideiasexplicao {
        font-size: 30px;
        width: 50%;
        background-color: gray;
        margin: 10px auto 0;
        padding: 5px;
        border-radius: 5px;
    }
    #fundoideias {
        background-color: #FFFFFF;
        border-left: 13px solid #1573FF;
        border-right: 13px solid #1573FF;
        border-top: 4px solid #1573FF;
        border-bottom: 4px solid #1573FF;
        border-radius: 11px;
        box-shadow: 5px 5px 10px grey;
        margin: 10px auto 0;
        width: 70%;
    }
    #ideias {
        width: 90%;
        height: 320px;
        text-align: center;
        border-radius: 35px;
        background-color: #D9D9D9;
        border: #000 solid 1px;
        margin-top: 38px;
        box-shadow: 5px 5px 10px grey;
        margin: 10px auto 0;
        font-size: 30px;
    }
    #dicaimg {
        background-color: #888888;
        border-radius: 35px 35px 0 0;
        width: 292px;
        height: 145px;
    }
    /* Obrigado */
    #fundoobg{
        text-align: center;
        margin: 10px auto 0;
        background-color:  rgb(17,50,99);
        padding-bottom: 15px;
        margin-top: 150px;
        margin-bottom: 150px;
        border-radius: 5px;
        width: 80%;
    }
    #meioobg{
        background-color: #FFF;
        width: 80%;
        font-weight: lighter;
        border-radius: 5px;
        padding-top: 10px;
        margin: 10px auto 0;
    }
    /* footer */
    footer {
        box-sizing: border-box;
        width: 100%;
    }
    .footer-link {
        text-decoration: none;
    }
    #footer_content {
        background:  rgb(17,50,99);
        background: linear-gradient(360deg, rgba(17,50,99,1) 0%, rgba(3,46,111,1) 100%);
        color: white;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 3rem 3.5rem;
    }
    #footer_contacts h1 {
        margin-bottom: 0.75rem;
    }
    #footer_social_media {
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
    }
    #footer_social_media .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: #fff;
        border-radius: 50%;
        transition: 0.4s;
    }
    #footer_social_media .footer-link i {
        font-size: 1.25rem;
    }
    #footer_social_media .footer-link:hover {
        opacity: 0.8;
    }
    #facebook {
        background-color:  rgb(17,50,99);
    }
    #whatsapp {
        background-color: #25d366;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        list-style: none;
    }

    .footer-list .footer-link {
        color: #fff;
        transition: all 0.4s;
    }
    .footer-list .footer-link:hover {
        color: yellow;
    }

    #footer_subscribe {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    #footer_subscribe p {
        color: #fff;
    }

    #input_group {
        display: flex;
        align-items: center;
        border-radius: 4px;
        background-color: #888888;
    }
    #input_group input {
        all: unset;
        padding: 0.75rem;
        width: 100%;
    }
    #input_group button {
        background-color: #7f37c9;
        border: none;
        color: white;
        padding: 0px 1.25rem;
        font-size: 1.125rem;
        height: 100%;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        transition: all 0.4s;
    }
    #input_group button:hover {
        opacity: 0.8;
    }
    #footer_copyright {
        display: flex;
        justify-content: center;
        background: rgb(24,24,24);
        background: linear-gradient(360deg, rgba(24,24,24,1) 0%, rgba(39,41,43,1) 100%);
        color: #fff;
        font-size: 0.9rem;
        padding: 1.5rem;
        font-weight: 100;
    }
    @media screen and (max-width: 768px){
        #footer_content {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
    @media screen and (max-width: 426px){
        #footer_content {
            grid-template-columns: repeat(1, 1fr);
            padding: 3rem 2rem;
        }
    }
}